# === Add Device ===
# hotplug device is ASI120MM then set usbfs buffer size to 256MB
ACTION=="add", ATTR{idVendor}=="03c3", RUN+="/bin/sh -c '/bin/echo 256 > /sys/module/usbcore/parameters/usbfs_memory_mb'"

# hotplug device is ASI120MM then create library link
ACTION=="add", ATTR{product}=="ASI120MM", ATTR{idVendor}=="03c3", ATTR{idProduct}=="120a", RUN+="/bin/sh -c '/usr/local/bin/switch_libasicamera.sh DEFAULT'"


# === Remove Device ===
# remove device is ASI120MM then set usbfs buffer size to 16MB
ACTION=="remove", ENV{ID_VENDOR_ID}=="03c3", PROGRAM="/bin/sh -c '/bin/echo 16 > /sys/module/usbcore/parameters/usbfs_memory_mb'"

# remove device is ASI120MM then remove library link
ACTION=="remove", ENV{ID_VENDOR_ID}=="03c3", ENV{ID_MODEL_ID}=="120a", PROGRAM="/bin/sh -c '/usr/local/bin/switch_libasicamera.sh DEFAULT'"
