[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=noVNC Server
Comment=Share this desktop by noVNC
Exec=/opt/noVNC/utils/launch.sh --vnc localhost:5900 --cert /opt/noVNC/ssl/aigo_noVNC.pem --ssl-only
Icon=/opt/noVNC/images/icons/novnc-192x192.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;RemoteAccess;
